body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p, li {
    color: #666;
}
